<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CRUD Springboot</title>
 
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
 th:href="@{/css/bootstrap.css}">
</head>
<body>
 <div class="container">
  <br>
  <h2 th:if="${list.isEmpty()}">
No hay clientes</h2>
<div th:if="${!list.isEmpty()}">
  <h2>
Mantenimiento de Clientes</h2>
<br>
   <table class="table">
    <thead>
<tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Editar</th>
      <th>Eliminar</th>
     </tr>
</thead>
    <tbody>
<tr th:each="cliente : ${list}">
      <td th:text="${cliente.nombre}">
      <td th:text="${cliente.apellido}">
      <td th:text="${cliente.direccion}">
      <td th:text="${cliente.telefono}">
      <td><a class="btn btn-info" th:href="@{/save/{id}(id=${cliente.id})}">Editar</a></td>
      <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${cliente.id})}">Eliminar</a></td>
     </tr>
</tbody>
   </table>
</div>
<br>
  <div>
   <a href="/save/0" class="btn btn-primary">Agregar</a>
  </div>
</div>
</body>
</html>